.about{
text-align: center;

background-image: linear-gradient(to right,rgb(225, 175, 175),rgb(255, 255, 255));

margin-left: 5vmax;
margin-right: 5vmax;
margin-bottom: 4vmax;
}
.about>.heads{
    font-size: 4vmax;
    color: rgb(34, 9, 14);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2vmax;
    margin-top: 2vmax;
}
.about>p{
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}
.about>.bts{
    padding: 2vmax;
}

