

.hdr{
    padding: 0.5vmax;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;


    height: 8vh;

    font-size: 1.5vmax;
}
.insta{
    display: flex;
}
.sports{
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin-left: 5vmax;
    margin-right: 5vmax;
    background-image: linear-gradient(to right,rgb(225, 175, 175),rgb(255, 255, 255));


    padding: 2vmax;
    }
.insta>input{
    border-bottom: 2px solid black;
    border-radius: 1vmax;
    border-top: 2px solid black;
    width: 70%;
    text-align: center;
    margin-left: 1vmax;
}
.hdr>div{

    display: flex;
    justify-content: center;
    align-items: center;
}



.productcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,550px);
    grid-gap: 10px;
    height: 80vh;
    justify-content: center;
    margin-top: -2vmax;

}
.product{

    display: flex;
    justify-content: center;
    text-align: center;
    height: 22vmax;
    cursor: pointer;
    align-items: center;
    transition: all 0.5s;

    color:white;

}
.product:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 6px 15px rgba(1, 0, 0, 0.363);
}
#p21{
    background-image: url("../Data/artist/portrait-8036356.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#p22{
    background-image: url("../Data/artist/eye-428390.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#p23{
    background-image: url("../Data/artist/eye-7787024.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#p24{
    background-image: url("../Data/artist/paint-2985569.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.btns>button{

    padding: 0.5vmax;
    background-color: rgb(142, 136, 180);  
    cursor: pointer;
    transition: all 0.5s;
}
.btns>button:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 6px 15px rgba(1, 0, 0, 0.363);
}