
.carousel img {
    height: 500px; 
    object-fit: cover; 
    cursor: pointer;
    display: flex;
    justify-content: center;
}


.carousel {
   
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-top: 1vmax;
    margin-left: 9vmax;
}




