.insta-logo{
    position: fixed;
    position: fixed;
    background-color: rgba(144, 62, 62, 0.671);
    background-size: cover;

    width: 40px;
    height: 40px;
    border-radius:0.5vmax;
    overflow: hidden;
    cursor: pointer;
    left: 1vmax;
    bottom: 4vmax;
    font-size: 1.3vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    padding: 1vmax;
    z-index: 10000;
    animation: vectorAnimation 1s infinite ease-in-out alternate;

}

.print-logo{
    position: fixed;
    background-color: rgb(181, 98, 98);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius:0.5vmax;
    overflow: hidden;
    cursor: pointer;
    left: 1vmax;
    bottom: 8vmax;
    font-size: 1.3vmax;
    display: flex;

    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    padding: 1vmax;
    z-index: 10000;
    animation: vectorAnimation 1s infinite ease-in-out alternate-reverse;

}
.fb-logo{
    position: fixed;
    background-color: rgb(134, 174, 211);
    background-size: cover;

    width: 40px;
    height: 40px;
    border-radius:0.5vmax;
    overflow: hidden;
    cursor: pointer;
    left: 1vmax;
    bottom: 12vmax;
    font-size: 1.3vmax;
    display: flex;

    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    padding: 1vmax;
    z-index: 10000;
    animation: vectorAnimation 1s infinite ease-in-out alternate;

}
.twit-logo{
    position: fixed;
    background-color: rgb(112, 188, 133);
    background-size: cover;

    width: 40px;
    height: 40px;
    border-radius:0.5vmax;
    overflow: hidden;
    cursor: pointer;
    left: 1vmax;
    bottom: 16vmax;
    font-size: 1.3vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    padding: 1vmax;
    z-index: 10000;
    animation: vectorAnimation 1s infinite ease-in-out alternate-reverse;

}
.print-logo:hover,.fb-logo:hover,.insta-logo:hover,.twit-logo:hover{
    width:300px;
    box-shadow: 10px 10px 20px black;
    transform: skewX(-30deg);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
/* @keyframes vectorAnimation {
    to{
        transform: translateY(-20px);
    }
  } */
