*{
    &::-webkit-scrollbar{
        display: none;
    }
}
.bb{
    height:50vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(225, 175, 175),rgb(255, 255, 255));
    margin-left: 5vmax;
    margin-right: 5vmax;

    align-items: center;
    width: 90%;
    padding: 1vmax;


}
.bc{
    height: 40vh;
    display: flex;
    overflow-x: scroll;
    background-color:rgb(246, 244, 244);
    white-space: nowrap;
}

.bc>p{

    width: 18vmax;
    transition: all 0.6s;
    padding: 4vmax;
    margin-top: 1vmax;
    margin-right: 1vmax;
    margin-left: 0.5vmax;
    border-radius: 2vmax;
    height: 37vh;
    display: flex;
    text-align: center;
    cursor: pointer;
    
    

}
.bc>p:hover{
    transform: translatey(-10px);
    box-shadow: 0px 6px 15px rgba(1, 0, 0, 0.363);
}

.be1{
    background-image: url("../Data/hackathon/Coderimage/img1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be2{
    background-image: url("../Data/hackathon/Coderimage/img4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be3{
    background-image: url("../Data/hackathon/Coderimage/img3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be4{
    background-image: url("../Data/hackathon/Coderimage/img4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be5{
    background-image: url("../Data/hackathon/Coderimage/img5.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be6{
    background-image: url("../Data/hackathon/Coderimage/img6.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be7{
    background-image: url("../Data/hackathon/Coderimage/img7.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be8{
    background-image: url("../Data/hackathon/Coderimage/img8.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be9{
    background-image: url("../Data/hackathon/Coderimage/img9.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be10{
    background-image: url("../Data/hackathon/Coderimage/img10.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be11{
    background-image: url("../Data/hackathon/Coderimage/img11.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be12{
    background-image: url("../Data/hackathon/Coderimage/img12.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be13{
    background-image: url("../Data/hackathon/Coderimage/img1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.be14{
    background-image: url("../Data/hackathon/Coderimage/img12.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be15{
    background-image: url("../Data/hackathon/Coderimage/img5.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.be16{
    background-image: url("../Data/hackathon/Coderimage/img6.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}




.bc>p>span{
    color: rgb(0, 8, 11);
    font-size: 1.5vmax;
    font-family:Arial, Helvetica, sans-serif ;
    position: relative;
    right: 1vmax;
    margin-top: 14vmax;
   

}

.bc>p>span>p{
    color: rgb(13, 13, 227);

    font-size: 1.5vmax;
}