.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(225, 175, 175));
    margin-left: 5vmax;
    margin-right: 5vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;

}


.heading .divs{
    background-color: rgba(39, 39, 39, 0.274);
    height: 1px;
    width: 20vw;
}

.heading p{
    margin: 3vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    color: rgb(77, 77, 77);
    font-size: 2.5vmax;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
.sorts{
    border: 1px solid black;
    position: relative;
    padding: 0.5vmax;
    left: 12vmax;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.sorts:hover{
    border-radius: 2vmax;
    padding: 0;
    width: 20vmax;
    height: 20vmax;
    z-index: 1000;
    /* margin-right: 12vmax; */
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}
.band{
    display: flex;
    justify-content: center;
    /* padding: 5vmax; */
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}