.HotAccessoriesMenu{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(225, 175, 175),rgb(255, 255, 255));
    margin-left: 5vmax;
    margin-right: 5vmax;
    margin-bottom: 1vmax;

}

.HotAccessoriesLink{
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 1vmax;
    padding: 0.5vmax 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1vmax;

    
}

.HotAccessoriesLink:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
} 










