.project{
    padding-top: 3vmax;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-image: linear-gradient(to right,rgb(57, 45, 45),rgb(255, 255, 255));

}
.anv{
    /* background-image: url("../Data/logos/envelop.png"); */
    background-size: cover;
}
.upp{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(27, 26, 31);
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 1vmax;
}
#input1 {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.project-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vmax;
    position: relative;
    width: 80%;

}
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }

#file-input {
    display: none;

}

.file-label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 50%;
    display: flex;
    justify-content: center;
}

.file-label:hover {
    background-color: #0056b3;
}

.upload-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 1vmax;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #218838;
}
