.section{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 2vmax;
    background-image: linear-gradient(to right,rgb(225, 175, 175),rgb(255, 255, 255));
}
.wrapper{
    position: relative;
    left: 5vmax;
    top: 30px;
    height: 35vmax;
    width: 30vw;
}
.find{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vmax;
    color: rgb(167, 110, 110);
}
.photo12{
    padding: 2vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 70%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vectorAnimation 1s infinite ease-in-out alternate;

}
@keyframes vectorAnimation {
    to{
        transform: translateY(-20px);
    }
}
#input1{
    border: 1px solid black;
    margin-bottom: 1.3vmax;
    width: 100%;
    border-radius: 5px;
    height: 50px;
}
.forgot{
    font-weight: bold;
    margin-bottom: 1vmax;
    color: rgb(82, 124, 215);
}
.submit{
    border-radius: 20px;
    background-color: rgb(82, 124, 215);
    color: white;

}





