
.ab{
    margin: 5vmax;

    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
}
.ac{
    background-image: url("../Data/artist/paint-2985569.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.7s;

}
.ac:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 6px 15px rgba(1, 0, 0, 0.363);
}

.af{
    display: flex;
    flex-direction: column;
    
}
.ad{
    background-image: url("../Data/juevent/ong5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    cursor: pointer;
    transition: all 0.7s;

}
.ad:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 6px 15px rgba(1, 0, 0, 0.363);
}
.ae{
    display: flex;
    flex-direction: row;
    animation: marquee 32s linear infinite;

}
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }
.ae>div{
    width: 50%;

}
.ae>div>p{
    height: 25vh;
}
.ag{
    background-image: url("../Data/esports/esports4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.7s;
    
}
.ag:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 6px 15px rgba(1, 0, 0, 0.363);
}
.ai{
    background-image: url("../Data/esports/esports3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.7s;

}
.ai:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 6px 15px rgba(1, 0, 0, 0.363);
}






















